
<div class="footer">
<div class="container">
 <div class="footer_top">
 </div>
<div class="copyright text-center">
	<p>© 2017 VICTOR TURUTHI | Design by   <p> E020-01-0636/2013</p>
</div>
</div>
</div>
