<div class="row">
<div class="col-md-10" style="padding: 40px 60px 0 150px; font-size: 35px; font-family: sans-serif;">
<p><em>We help find lost misplaced items, free of charge</em></p>
<p>COOL, RIGHT!!</p>
<p>yea, help someone find his or her lost item by <br /></p>
</div>
<div class="col-md-12" style="padding: 50px 0px 50px 400px;">
<%= link_to "POSTING IT HERE", new_lost_item_path, :class => "btn btn-primary btn-lg" %>
</p></div>
</div>
