<div class="row">
<div class="shop col-md-12" style="padding: 40px 20px 40px 300px ;">
	<%= link_to "FOUND A MISPLACED ITEM? POST IT HERE", new_lost_item_path %> 
</div>
<% @items.each do |i|  %>
	<div class="col-md-3 show">
		<p><em><b>Item name:</b></em> <%= i.name %></p>
		<p><em><b>It was found at:</b></em> <%= i.updated_at || i.created_at %></p>
	</div>
<% end %>
</div>