<div class="row">
	<div class="col-md-4 show">
		<p><em><b>Item name:</em></b> <%= @item.name %></p>
		<p><em><b>Item was found by:</b></em> <%= @item.user.name %></p>
		<p><em><b>At:</b></em> <%=  @item.updated_at || @item.created_at %></p>
	</div>
</div>